extends layout

block content
  section.pedals-top-section
    .container
      .row-fluid
        .col-sm-6
          h1 Custom Builds
          p.well.well-lg.opac I also take on custom pedal design and build commissions. Whether you're looking for a different take on an existing design or have an idea for something totally out of the ordinary, I'm ready to work with you on a unique project. <br /><br />
            |While most of my work has been with vintage style fuzz pedals, I am also experienced with the design of other analog musical effects such as frequency boosters, distortion, filters, delay and modulation.
        .col-sm-6
          div(data-isotope-options='{"itemSelector": ".isoitem", "masonry": {"columnWidth": 50, "isFitWidth": true}}').isotope.js-isotope
            img(src='http://distilleryimage3.ak.instagram.com/37aff7ea683411e3b46e0e4c3f548967_8.jpg').isoitem.width2.height2
            img(src='http://photos-d.ak.instagram.com/hphotos-ak-prn/926579_208297669350587_641315768_n.jpg').isoitem.width-big
  section.pedals-info-section
    .container
      .row-fluid
        .col-sm-6
          h4.fa.fa-cogs  Services Include:
          div
            ul
              li Realization of your pedal idea
              li Circuit design from concept to schematic to build
              li Rendering of existing circuits into new layouts
              li Construction on tagboard, stripboard (vero), PCB, or point-to-point
              li Graphic design - images and text for various finishing methods
              li Etching of enclosures for your own DIY project
        .col-sm-6
          h4.fa.fa-spinner  Please feel free to contact me about any work by using the links on the bar below. 

